* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #db63ee;
  font-family: "Dancing Script", cursive;
  font-family: "Playfair Display", serif;
}

.lang-card:hover {
  box-shadow: 3px 3px 20px 5px rgb(209, 55, 80);
}

.lang-logo {
  transition: transform 0.2s;
}

.lang-card:hover .lang-logo {
  transform: scale(1.2);
}
